{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Création d'un article" %}{% endblock %}

{% block body %}
<h2>{% trans "Création d'un article" %}</h2>
<form action="{% url 'create_item' gallery.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% trans "Créer" %}
    </button>
    {% endbuttons %}
</form>
{% endblock %}