{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{{ item.name }}{% endblock %}

{% block body %}
<h2>{{ item.name }}</h2>
{% if item.gallery.owner = user %}
<a href="{% url 'edit_item' item.gallery.id item.id %}" class="btn btn-primary">Éditer</a>
{% endif %}
{% endblock %}