h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.race-selected {
    border-color: black;
}

.mega {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.navbar-brand {
    padding: 6px 0 0 0 ;
}

.inscription {
    display: block;
    width: 502px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #292929;
  color: #ccc;
}

#footer h1, #footer h2, #footer h3 {
    margin:0;
}

.graph {
    width: 150px;
    height: 150px;
}