{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
      <title>{% block head_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Facebook Metadata /-->
        <meta property="fb:page_id" content="" />
        <meta property="og:image" content="" />
        <meta property="og:description" content=""/>
        <meta property="og:title" content=""/>

        <!-- Google+ Metadata /-->
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">

        <!-- Bootstrap -->
        <link href="{% static "bootstrap/bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/bootflat.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/bootflat-extensions.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/bootflat-square.css" %}" rel="stylesheet" media="screen">

        <link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}" />

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
        <div id="wrap">
        {% include "topbar.html" %}
            <div class="container">
            {% block body %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <div class="row" style="margin-top:15px">
                    <h3>Copyright - AcheteAvecDesChatons.com</h3>
                </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static "js/jquery-1.10.1.min.js" %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </body>
</html>