{% extends "base.html" %}

{% load staticfiles %}

{% block head_title %}AchèteAvecDesChatons.com{% endblock %}
{% block body %}
    <img src="{% static "img/front.jpg" %}" width="100%" style="margin-top:-20px">
    <a href="{% url 'account_signup' %}" class="inscription"><img src="{% static "img/inscription.png" %}"></a>
    <div class="row">
	<h1>Des chatons ?</h1>
    <p>Vous commencez par créer un panier de <strong>chatons</strong> selon vos <strong>préférences</strong>.
        <img src="{% static "img/graph1.jpg" %}" class="graph" style="float:right">
    </p>
    </div>
    <div class="row">
    <h1>Acheter ?</h1>
    <p>Vos chatons vous proposent des <strong>articles</strong> qui vous correspondent.
        <img src="{% static "img/graph2.jpg" %}" class="graph" style="float:right">
    </p>
    
    </div>
    <div class="row">
    <h1>Comment ça marche ?</h1>
    <p>Chaque race de chaton possède des caractéristiques différentes : joueur, câlin...</p>
    <p>À partir de votre sélection de chatons, nous pouvons donc <strong>convertir vos émotions et désirs inconscients en critères de sélection.</strong>
        <img src="{% static "img/graph3.jpg" %}" class="graph" style="float:right">
    </p>
    
    </div>
    <h1>N'attendez plus et inscrivez-vous dès maintenant !</h1>
    <a href="{% url 'account_signup' %}" class="inscription" style="margin-top:0"><img src="{% static "img/inscription.png" %}"></a>
{% endblock %}