{% load staticfiles %}

{% load account %}
<nav class="navbar navbar-inverse navbar-square" role="navigation">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "img/logo.png" %}"></a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">

      <li class="divider-vertical"></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% user_display user %}<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'my_profile' %}">Profil</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'account_logout' %}">Déconnexion</a></li>
        </ul>
      </li>
    </ul>
    {% else %}
    <div class="navbar-right">
        <a class="btn btn-success navbar-btn" href="{% url 'account_signup' %}">Inscription</a>
        <a class="btn btn-primary navbar-btn" href="{% url 'account_login' %}">Connexion</a>
    </div>
    {% endif %}
  </div><!-- /.navbar-collapse -->
</div>
</nav>



<!--<nav class="navbar" id="nav1">
          
     <div class="navbar row">
 -->      <!-- Toggle for mobile navigation, targeting the <ul> -->
<!--  <div>
    <a class="toggle" gumby-trigger="#nav1 > ul" href="#"><i class="icon-menu"></i></a>
    <h1 class="four columns"  style="background-color:blue">
      <a href="{% url 'home' %}">
        .pyVerts
      </a>
    </h1>
    <ul class="eight colgrid pull_right" style="background-color:red">
        {% if not user.is_authenticated %}
          <li><a href="{% url 'account_login' %}">Connexion</a></li>
        {% else %}
          <li>
            <a href="#">{% user_display user %}</a>
            <div class="dropdown">
              <ul>
                <li><a href="{% url 'account_logout' %}">Déconnexion</a></li>
              </ul>
            </div>
          </li>
        {% endif %}
    </ul>
  </div>
  </div>
</nav> -->