{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Édition d'une gallerie" %}{% endblock %}

{% block body %}
<h2>{% trans "Édition d'une gallerie" %}</h2>
<form action="." method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% trans "Save" %}
    </button>
    {% endbuttons %}
</form>
{% endblock %}