{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{{ gallery.name }}{% endblock %}

{% block body %}
<h2>{{ gallery.name }}</h2>
{% if gallery.owner = user %}
    <a href="{% url 'edit_gallery' gallery.id %}" class="btn btn-primary">Éditer</a>
{% endif %}
<h3>Articles</h3>
<ul>
{% for item in gallery.items %}
    <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
{% endfor %}
</ul>
{% if gallery.owner = user %}
    <a href="{% url 'create_item' gallery.id %}" class="btn btn-success">Ajouter</a>
{% endif %}
{% endblock %}