{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block head_title %}Catégories{% endblock %}

{% block body %}
<a class="btn btn-primary btn-sm" href="{% url 'my_profile' %}">« Retour aux chatons</a>
<br><br>
<div class="alert alert-error"><strong>Attention !</strong> Vos chatons prennent souvent leur temps pour vous proposer des produits, merci de votre patience !</div>
<h2>Vos chatons peuvent vous recommander dans ces domaines : </h2>
{% for category in categories %}
<h1><a href="{% url 'category' category.id %}">{{ category.name }}</a></h1>
{% endfor %}
{% endblock %}