{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block head_title %}Catégorie{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <a class="btn btn-primary btn-sm" href="{% url 'categories' %}">« Retour aux catégories</a>
        <h2>Vos chatons vous recommandent ces produits</h2>
        <h3>Catégorie {{ category.name }}</h3>
        {% if no_img %}
            <div class="alert alert-error">Vos chatons ont rencontré un problème pendant la recherche d'images :(<br>Ils ont remplacé les photographies par des chatons.</div>
        {% endif %}
        {% for product in results.results %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ product.name }}</h3>
            </div>
            <div class="panel-body">
                <div style="float:left">
                {% if no_img %}
                    <img src="http://placekitten.com/150/150" class="thumbnail" style="margin-right:10px">
                {% else %}
                    {% if product.images %}
                    {% with product.images|first as image %}
                        {% thumbnail image "150x150" crop="center" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% endwith %}
                    {% endif %}
                {% endif %}
                </div>
                <div style="float:left;max-width:200px">
                    <strong>Catégorie : </strong>{{ product.category }}
                </div>
                <div style="float:right">
                    <h1>{{ product.price }} {{ product.price_currency }}</h1>

                    {% with product.sitedetails|first as site %}
                        <a class="btn btn-success btn-lg" href="{{ site.url }}">Acheter</a>
                    {% endwith %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
    </div>
</div>
{% endblock %}