{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load floppyforms %}

{% block head_title %}{% trans "Édition du profil" %}{% endblock %}

{% block body %}
<h2>{% trans "Édition du profil" %}</h2>
<form action="{% url 'edit_profile' %}" method="post">
    {% csrf_token %}
    
    {% form base_form using "floppy_gumby_forms/layouts/gumby.html" %}
    <div class="btn secondary pretty">
  		<input type="submit" value="{% trans "Save" %}" name="base_form">
  	</div>
</form>
{% endblock %}