{% extends "base.html" %}

{% block head_title %}Profil de {{ profile_user.username }}{% endblock %}

{% block body %}
{% load thumbnail %}

<div class="row">
	<div class="col-md-8">
        {% if profile_user = user %}
            {% if cats %}
                <a href="{% url 'categories' %}" class="btn btn-primary btn-block btn-lg mega">Acheter avec vos chatons</a>
            {% else %}
            <div class="alert alert-error">Vous devez ajouter des chatons pour bénéficier de leurs conseils !</div>
            {% endif %}
        {% endif %}
        {% if profile_user = user %}
        <h2>Vos chatons</h2>
        {% else %}
		<h2>Chatons de <strong>{{ profile_user.username }}</strong></h2>
        {% endif %}
        {% if profile_user = user %}
        <!-- <h3>Votre panier de chatons : </h3> -->
        {% else %}
        <!-- <h3>Les chatons de {{ profile_user.username }} : </h3> -->
        {% endif %}
        {% if cats %}
            <div class="row">
            {% for cat in cats %}
            <div class="col-md-3">
                <div class="thumbnail">
                {% if cat.race.young_image %}
                    {% thumbnail cat.race.young_image "150x150" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% elif cat.race.adult_image %}
                    {% thumbnail cat.race.adult_image "150x150" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                    <img src="http://placekitten.com/150/150">
                {% endif %}
                    <div class="caption">
                        <h3 style="text-align: center">{{ cat.name }}</h3>
                        <a href="{% url 'delete_cat' cat.id %}" class="btn btn-danger btn-xs">Supprimer :(</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        {% else %}
            {% if profile_user = user %}
            <h4>Votre panier de chatons est vide !</h4>
            {% else %}
            <h4>Panier vide :(</h4>
            {% endif %}
        {% endif %}
        {% if profile_user = user %}
            <a class="btn btn-success btn-lg" href="{% url 'create_cat' %}">Ajouter un chaton</a>
        {% endif %}
	</div>
	<div class="col-md-4">
		<h3>Caractéristiques</h3>
        Calme
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.calm }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.calm }}%">
            <span class="sr-only">{{ stats.calm }}%</span>
          </div>
        </div>
        Joueur
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.playful }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.playful }}%">
            <span class="sr-only">{{ stats.playful }}%</span>
          </div>
        </div>
        Câlin
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.cuddly }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.cuddly }}%">
            <span class="sr-only">{{ stats.cuddly }}%</span>
          </div>
        </div>
        Indépendant
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.independent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.independent }}%">
            <span class="sr-only">{{ stats.independent }}%</span>
          </div>
        </div>
        Miauleur
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.noisy }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.noisy }}%">
            <span class="sr-only">{{ stats.noisy }}%</span>
          </div>
        </div>
        Gentil
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.kindness }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.kindness }}%">
            <span class="sr-only">{{ stats.kindness }}%</span>
          </div>
        </div>
        Sociable
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.socialness }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.socialness }}%">
            <span class="sr-only">{{ stats.socialness }}%</span>
          </div>
        </div>
        Propreté
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.tidyness }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.tidyness }}%">
            <span class="sr-only">{{ stats.tidyness }}%</span>
          </div>
        </div>
        Originalité
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.originality }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.originality }}%">
            <span class="sr-only">{{ stats.originality }}%</span>
          </div>
        </div>
        Luxe
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ stats.budget }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.budget }}%">
            <span class="sr-only">{{ stats.budget }}%</span>
          </div>
        </div>
	</div>
</div>
{% endblock %}