{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% load thumbnail %}

{% block head_title %}{% trans "Ajout d'un nouveau chat" %}{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-8">
<a class="btn btn-primary btn-sm" href="{% url 'my_profile' %}">« Retour aux chatons</a>
<h1>{% trans "Création d'un chaton" %}</h1>
<h2>{% trans "Nom du chaton" %}</h2>
<form action="{% url 'create_cat' %}" method="post">
    {% csrf_token %}
    <div class="form-group"><input type="text" title="" required="" placeholder="Entrez un nom super mignon !" name="name" maxlength="100" id="id_name" class="form-control input-lg"></div>
    
<h2>{% trans "Race du chaton" %}</h2>
<div class="row">
{% for race in races %}
<div class="col-md-3">
    <div class="thumbnail race">
    {% if race.adult_image %}
        {% thumbnail race.adult_image "150x150" crop="center" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
    {% elif race.young_image %}
        {% thumbnail race.young_image "150x150" crop="center" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
    {% else %}
        <img src="http://placekitten.com/150/150">
    {% endif %}
        <input type="radio" name="race" value="{{ race.id }}" style="display:none">
        <div class="caption">
            <h3 style="text-align: center">{{ race.name }}</h3>
        </div>
        <input type="hidden" class="calm" value="{{ race.nature.calm }}" />
        <input type="hidden" class="playful" value="{{ race.nature.playful }}" />
        <input type="hidden" class="cuddly" value="{{ race.nature.cuddly }}" />
        <input type="hidden" class="independent" value="{{ race.nature.independent }}" />
        <input type="hidden" class="noisy" value="{{ race.nature.noisy }}" />
        <input type="hidden" class="kindness" value="{{ race.nature.kindness }}" />
        <input type="hidden" class="socialness" value="{{ race.nature.socialness }}" />
        <input type="hidden" class="scampish" value="{{ race.nature.scampish }}" />
        <input type="hidden" class="robust" value="{{ race.nature.robust }}" />
        <input type="hidden" class="sexual_activity" value="{{ race.nature.sexual_activity }}" />
        <input type="hidden" class="tidyness" value="{{ race.nature.tidyness }}" />
        <input type="hidden" class="fluffyness" value="{{ race.nature.flufflyness }}" />
        <input type="hidden" class="dirtyness" value="{{ race.nature.dirtyness }}" />
        <input type="hidden" class="first_cat" value="{{ race.nature.first_cat }}" />
        <input type="hidden" class="originality" value="{{ race.nature.originality }}" />
        <input type="hidden" class="budget" value="{{ race.nature.budget }}" />
    </div>
</div>
{% endfor %}
</div>
{% buttons %}
    <button type="submit" class="btn btn-success btn-lg">
        {% trans "Créer" %}
    </button>
    {% endbuttons %}
</form>
</div>
<div class="col-md-4">
    <h3>Caractéristiques</h3>
    Calme
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="calm">
            <span class="sr-only">0%</span>
          </div>
        </div>
        Joueur
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="playful">
            <span class="sr-only">0%</span>
          </div>
        </div>
        Câlin
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="cuddly">
            <span class="sr-only">0%</span>
          </div>
        </div>
        Indépendant
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="independent">
            <span class="sr-only">0%</span>
          </div>
        </div>
        Miauleur
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="noisy">
            <span class="sr-only">0%</span>
          </div>
        </div>
        Gentil
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="kindness">
            <span class="sr-only">0%</span>
          </div>
        </div>
        Sociable
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="socialness">
            <span class="sr-only">0%</span>
          </div>
        </div>
        Propreté
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="tidyness">
            <span class="sr-only">0%</span>
          </div>
        </div>
        Originalité
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="originality">
            <span class="sr-only">0%</span>
          </div>
        </div>
        Luxe
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="budget">
            <span class="sr-only">0%</span>
          </div>
        </div>
</div>
</div>
{% endblock %}